*{outline: 1px solid red;
}
img{

}
.hero-section{
	background-image:url(../images/slider1.jpg);
}
.trademarks{
	background-image:url(../images/client-bg.jpg)
}
.media img{
	width: 100px;
    height: 100px;
}