html
    head
        meta(charset="utf-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1")
        link(href="../css/bootstrap.min.css" rel="stylesheet")  
        link(href="../font-awesome/css/font-awesome.css" rel="stylesheet")
        link(href="../sass/main.css" rel="stylesheet")

        script(src="../js/jquery.js")
        script(src="../js/bootstrap.min.js")
        script(src="../js/main.js")       
   body
        .container
            .user-nav
                .row
                    .col-md-12
                        small.pull-left Default Welcome Msg!
                        ul.list-inline.list-unstyled.pull-right
                            li
                                .dropdown
                                    p#dropdownMenu1.dropdown-toggle(type='text', data-toggle='dropdown', aria-haspopup='true', aria-expanded='true')
                                        img.ib(src='../images/flag1.png')
                                        small Language
                                            span.caret
                                      ul.dropdown-menu(aria-labelledby='dropdownMenu1')
                                        li
                                            img.ib(src='../images/flag1.png')
                                            a(href='#') British
                                        li
                                            img.ib(src='../images/flag2.png')
                                            a(href='#') Francais        
                            li 
                                small $Currency
                                    span.caret 
                            li
                                small My Account   
                                        span.careta                 
            #header
                .row
                    .col-md-4
                        .row
                            .col-md-2
                                i.fa.fa-clock-o.iconbig(aria-hidden='true')
                            .col-md-10        
                                h3 OPENING TIME
                                small 9.00 AM - 10.00PM
                    .col-md-4
                        img.img-responsive.media-object(src='../images/logo.png', alt='logo') 
                    .col-md-4
                        .input-group
                            input.form-control(type='Search', placeholder='Search' )   
                            .input-group-btn
                            i.fa.fa-search(aria-hidden='true')
            .menu
                .row
                    .col-md-6
                        ul.nav-menu.ib.list-inline.list-unstyled
                            li
                                a(href='index.html') 
                                    b HOME   
                            li
                                a(href='contact.html') 
                                    b CONTACT US  
                    .col-md-6 
                        .shop-button.pull-right
                            .dropdown
                                button#dropdownMenu1.btn.btn-default.dropdown-toggle.shop-menu(type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='true') 
                                    i.ib.fa.fa-shopping-cart(aria-hidden='true')
                                    h5.ib
                                        b My Cart
                                    p 2 itmen(s) - $244.00 
                                    span.caret 
                                ul.dropdown-menu.shop-list(aria-labelledby='dropdownMenu1')
                                    .row
                                        .col-md-4
                                            a(href='#')
                                                img.img-responsive(src='../images/c2.jpg', alt='cartera') 
                                        .col-md-8
                                            h4 Aliquam Consequat
                                            p 1 x $500
                                                i.fa.fa-times(aria-hidden='true')
                                    .row
                                        .col-md-4
                                            a(href='#')
                                                img.img-responsive(src='../images/b2.jpg', alt='gorro') 
                                        .col-md-8    
                                                h4 Quisque In Arcuc
                                                p 1  $500
                                                    i.fa.fa-times(aria-hidden='true')    
                                    p Sub-Total
                                        br
                                        span.price-red $700    
                                    p Eco Tax (-2.00)
                                        br
                                        span.price-red $7.00
                                    p VAT (20%)
                                        br
                                        span.price-red $40.00                
                  
            .hero-section
                .user-show.text-center
                    h1 AUTUMN/WINTER LOOKBOOK
                    h3 - 2016 COLLECTION -            
            .next-offer
                .row
                    .col-md-5
                        img.img-responsive(src='../images/banner1.jpg', alt='baner1')
                    .col-md-7
                        img.img-responsive(src='../images/banner2.jpg', alt='baner1') 
            .shop-product
                .menu-shop.text-center
                    .row
                        .col-md-4
                            hr
                            
                        .col-md-4 
                            ul.list-inline.list-unstyled.sub-menu
                                li
                                    i.fa.fa-chevron-left(aria-hidden='true')
                                li
                                    a(href="index.html") LATEST
                                li
                                    a(href="about-us.html") BESTSELLER
                                li
                                    a(href="services.html") SALE 
                                li
                                    i.fa.fa-chevron-right(aria-hidden='true')             
                        .col-md-4
                            hr 
                        
                .list-offers.text-center
                    .row
                        .col-md-3
                            .thumbnail
                              img.img-responsive(src='../images/a1.jpg', alt='offer1')  
                              .caption
                                p Delivery Wide      
                                i.fa.fa-star
                                i.fa.fa-star
                                i.fa.fa-star
                                i.fa.fa-star-o
                                i.fa.fa-star-o    
                                p.price-red $218.00
                        .col-md-3
                            .thumbnail
                              img.img-responsive(src='../images/b1.jpg', alt='offer2')      
                              .caption
                                p Delivery Wide      
                                i.fa.fa-star
                                i.fa.fa-star
                                i.fa.fa-star
                                i.fa.fa-star-o
                                i.fa.fa-star-o
                                p.price-red $218.00        
                        .col-md-3
                            .thumbnail
                              img.img-responsive(src='../images/c1.jpg', alt='offer3')      
                              .caption
                                p Delivery Wide      
                                i.fa.fa-star
                                i.fa.fa-star
                                i.fa.fa-star
                                i.fa.fa-star-o
                                i.fa.fa-star-o
                                p.price-red $218.00
                        .col-md-3
                            .thumbnail
                              img.img-responsive(src='../images/d2.jpg', alt='offer4')      
                              .caption
                                p Delivery Wide      
                                i.fa.fa-star
                                i.fa.fa-star
                                i.fa.fa-star
                                i.fa.fa-star-o
                                i.fa.fa-star-o
                                p.price-red $218.00 
            .brands
                .row
                    .col-md-2
                        a.thumbnail(href='#')
                            img.img-responsive(src='../images/client1.jpg', alt='activeden')
                    .col-md-2
                        a.thumbnail(href='#')
                            img.img-responsive(src='../images/client2.jpg', alt='activeden')
                    .col-md-2
                        a.thumbnail(href='#')
                            img.img-responsive(src='../images/client3.jpg', alt='activeden')
                    .col-md-2
                        a.thumbnail(href='#')
                            img.img-responsive(src='../images/client4.jpg', alt='activeden')
                    .col-md-2
                        a.thumbnail(href='#')
                            img.img-responsive(src='../images/client5.jpg', alt='activeden')
                    .col-md-2
                        a.thumbnail(href='#')
                            img.img-responsive(src='../images/client6.jpg', alt='activeden')
            .menu-shop.text-center
                    .row
                        .col-md-4
                            hr
                            
                        .col-md-4 
                            ul.list-inline.list-unstyled.sub-menu
                                li
                                    i.fa.fa-chevron-left(aria-hidden='true')
                                li
                                    a(href="index.html") CLOTHING
                                li
                                    a(href="about-us.html") EQUIPMENTS
                                li
                                    a(href="services.html") JEWERLY
                                li
                                    i.fa.fa-chevron-right(aria-hidden='true')             
                        .col-md-4
                            hr  
            .list-products
                .row
                    .col-md-4
                        .row.tab
                            .col-md-4
                                .detail-product
                                    a(href='#')
                                        img.img-responsive.media-object(src='../images/a2.jpg', alt='product')  
                            .col-md-8
                                h6.media-heading Deliver Wide
                                strike.default-text $242.00
                                span.price-red $218.00
                               i.fa.fa-star
                                i.fa.fa-star
                                i.fa.fa-star
                                i.fa.fa-star-o
                                i.fa.fa-star-o
                                p
                                    a.btn.btn-default(href='#') 
                                        i.fa.fa-shopping-cart     Add to cart
                        .row.tab
                            .col-md-4
                                a(href='#')
                                    img.img-responsive.media-object(src='../images/cart-1.jpg', alt='product')  
                            .col-md-8
                                h6.media-heading Deliver Wide
                                    span.price-red $218.00
                                i.fa.fa-star
                                i.fa.fa-star
                                i.fa.fa-star
                                i.fa.fa-star-o
                                i.fa.fa-star-o    
                                p
                                    a.btn.btn-default(href='#') 
                                        i.fa.fa-shopping-cart     Add to cart
                    .col-md-4
                        .row.tab
                            .col-md-4
                                a(href='#')
                                    img.img-responsive.media-object(src='../images/d2.jpg', alt='product')  
                            .col-md-8
                                h6.media-heading Deliver Wide
                                    span.price-red $218.00
                                i.fa.fa-star
                                i.fa.fa-star
                                i.fa.fa-star
                                i.fa.fa-star-o
                                i.fa.fa-star-o
                                p
                                    a.btn.btn-default(href='#') 
                                        i.fa.fa-shopping-cart     Add to cart
                        .row.tab
                            .col-md-4
                                a(href='#')
                                    img.img-responsive.media-object(src='../images/cart-1.jpg', alt='product')  
                            .col-md-8
                                h6.media-heading Deliver Wide
                                strike.default-text $242.00
                                span.price-red $218.00
                                i.fa.fa-star
                                i.fa.fa-star
                                i.fa.fa-star
                                i.fa.fa-star-o
                                i.fa.fa-star-o  
                                p
                                    a.btn.btn-default(href='#') 
                                        i.fa.fa-shopping-cart     Add to cart
                    .col-md-4
                        .row.tab
                            .col-md-4
                                a(href='#')
                                    img.img-responsive.media-object(src='../images/g2.jpg', alt='product')  
                            .col-md-8
                                h6.media-heading Deliver Wide
                                p.default-text $242.00
                                    span.price-red $218.00
                                i.fa.fa-star
                                i.fa.fa-star
                                i.fa.fa-star
                                i.fa.fa-star-o
                                i.fa.fa-star-o   
                                p
                                    a.btn.btn-default(href='#') 
                                        i.fa.fa-shopping-cart     Add to cart
                        .row.tab
                            .col-md-4
                                a(href='#')
                                    img.img-responsive.media-object(src='../images/e2.jpg', alt='product')  
                            .col-md-8
                                h6.media-heading Deliver Wide
                                p.default-text $242.00
                                    span.price-red $218.00
                                i.fa.fa-star
                                i.fa.fa-star
                                i.fa.fa-star
                                i.fa.fa-star-o
                                i.fa.fa-star-o    
                                p
                                    a.btn.btn-default(href='#') 
                                        i.fa.fa-shopping-cart     Add to cart                        
                .menu-shop.text-center
                    .row
                        .col-md-4
                            hr
                            
                        .col-md-4 
                            ul.list-inline.list-unstyled.sub-menu
                                li
                                    i.fa.fa-chevron-left(aria-hidden='true')
                                li
                                    a(href="index.html") BLOG
                                li
                                    i.fa.fa-chevron-right(aria-hidden='true')             
                        .col-md-4
                            hr  
                .blog.tab
                    .row
                        .col-md-3
                            .thumbnail
                                img(src='../images/blog1.jpg', alt='product') 
                                .caption
                                    h5 THE SAMPLE HEADING TITLE
                                    p 27/11/2015
                                    p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. sed do...
                                    a.text-red(href='#') Read more...
                        .col-md-3
                            .thumbnail
                                img(src='../images/blog2.jpg', alt='product') 
                                .caption
                                    h5 THE SAMPLE HEADING TITLE
                                    p 27/11/2015
                                    p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. sed do...
                                    a.text-red(href='#') Read more...
                        .col-md-3
                            .thumbnail
                                img(src='../images/blog3.jpg', alt='product') 
                                .caption
                                    h5 THE SAMPLE HEADING TITLE
                                    p 27/11/2015
                                    p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. sed do...
                                    a.text-red(href='#') Read more...
                        .col-md-3
                            .thumbnail
                                img(src='../images/blog1.jpg', alt='product') 
                                .caption
                                    h5 THE SAMPLE HEADING TITLE
                                    p 27/11/2015
                                    p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. sed do...
                                    a.text-red(href='#') Read more...
                .shipp.tab
                    .row
                        .col-md-4
                            .row
                                .col-md-3
                                    i.iconbig.fa.fa-phone-square(aria-hidden='true')
                                .col-md-9        
                                    h5 ORDER ONLINE NOW
                                    p Call us (0123)456789                       
                        .col-md-4
                            .row
                                .col-md-3
                                    i.iconbig.fa.fa-plane(aria-hidden='true')
                                .col-md-9
                                    h5 FREE WORLDWIDE SHIPPING
                                    p On Order Over $100 
                        .col-md-4
                            .row
                                .col-md-3
                                    i.iconbig.fa.fa-money
                                .col-md-9
                                    h5 30 DAYS MONEY BACK 100%
                                    p Satisfaction Guarantee
                .footer.tab
                    .row
                        .col-md-2
                            p 
                                b ACCESORIES
                            p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut enim doloribus eius architecto culpa ipsa fugit, harum voluptatem porro molestiae? Perspiciatis, repellendus placeat odio doloremque ex possimus voluptatum, id ratione.
                            ul.list-inline.list-unstyled
                                li
                                    a(href="#") 
                                        i.fa.fa-facebook
                                li
                                    a(href="#") 
                                        i.fa.fa-twiter
                                li
                                    a(href="#") 
                                        i.fa.fa-rss
                                li
                                    a(href="#") 
                                        i.fa.fa-skype
                                li
                                    a(href="#") 
                                        i.fa.fa-dribbble                            
                        .col-md-2 
                            p 
                                b ACCESORIES
                            ul.list-unstyled
                                li
                                    a(href="#") 
                                        i.fa.fa-caret-right  
                                            small My Account
                                li
                                    a(href="#") 
                                        i.fa.fa-caret-right 
                                            small Order History                             
                                li
                                    a(href="#") 
                                        i.fa.fa-caret-right  
                                            small Wish List
                                li
                                    a(href="#") 
                                        i.fa.fa-caret-right  
                                            small Newsletter          
                        .col-md-2 
                            p 
                                b MY ACCOUNT
                            ul.list-unstyled
                                li
                                    a(href="#") 
                                        i.fa.fa-caret-right 
                                            small My Account
                                li
                                    a(href="#") 
                                        i.fa.fa-caret-right 
                                            small Order History                             
                                li
                                    a(href="#") 
                                        i.fa.fa-caret-right  
                                            small Wish List
                                li
                                    a(href="#") 
                                        i.fa.fa-caret-right  
                                            small Newsletter 
                        .col-md-2 
                            p 
                                b INFORMATION
                            ul.list-unstyled
                                li
                                    a(href="#") 
                                        i.fa.fa-caret-right  
                                            small About us
                                li
                                    a(href="#") 
                                        i.fa.fa-caret-right  
                                            small Delivery Information                             
                                li
                                    a(href="#") 
                                        i.fa.fa-caret-right  
                                            small Privacy Policy
                                li
                                    a(href="#") 
                                        i.fa.fa-caret-right  
                                            small Terms & Conditions                    
                        .col-md-2 
                            p 
                                b EXTRAS
                            ul.list-unstyled
                                li
                                    a(href="#") 
                                        i.fa.fa-caret-right  
                                            small Brands
                                li
                                    a(href="#") 
                                        i.fa.fa-caret-right  
                                            small Gift Vouchers                             
                                li
                                    a(href="#") 
                                        i.fa.fa-caret-right  
                                            small Affilliates
                                li
                                    a(href="#") 
                                        i.fa.fa-caret-right  
                                            small Specials
                        .col-md-2 
                            p 
                                b ABOUT US
                            ul.list-unstyled
                                li
                                    a(href="#") 
                                        i.fa.fa-caret-right 
                                            small 8901 Marmora Road, Glasglow D0489 GR, New York
                                li
                                    a(href="#") 
                                        i.fa.fa-caret-right 
                                            small (0123)456789
                                            br 
                                            small (7891)234567                            
                                li
                                    a(href="#") 
                                        i.fa.fa-care-right
                                            small               admin@bootexperts.com                     
                .detail-pay 
                    .row
                        .col-md-6
                            small Copyrigth © 2015
                                span
                                    small.text-red Boot Experts
                                        small All rights reserved                                   
                        .col-md-6
                            img.img-responsive.pull-right(src='../images/payment.png', alt='payment')       


             
